<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employees</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Employees</h1>

<div>
    <form th:onchange="submit" th:action="@{/employees/filter}" action="#" method="get">
    <input type="text" id="name" name="name" th:value="*{name}" />
    <input type="submit" value="Filter"/>
    <a href="/employees">Clear Filter</a>
</form>
</div>

<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Starting Date</th>
        <th>oib</th>
    </tr>
    <tr th:each = "Employee : ${employees}">
        <td th:text="${Employee.firstName}"></td>
        <td th:text="${Employee.lastName}"></td>
        <td th:if="${Employee.startingDate != null}" th:text="${#dates.format(Employee.startingDate,'dd.MM.yyyy.')}">date</td>
        <td th:if="${Employee.startingDate == null}" th:text="${Employee.startingDate}">date</td>
        <td th:text="${Employee.oib}"></td>
        <td><a th:href="@{/employees/{id}(id=${Employee.id})}">View</a></td>
        <td><a th:href="@{/employees/delete/{id}(id=${Employee.id})}">Delete</a></td>
    </tr>
</table>
<a href="/employees/add">Add Employee</a>



<!--
<a href="/employees/report/pdf">|EMPLOYEE PDF|</a>
<a href="/employees/report/xls">|EMPLOYEE XLS|</a> -->
</body>
</html>