<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="template :: head">
</head>

<body>
    <form th:action="@{/login}" method="POST">
        <br/>
        <input type="text" id="email" name="email"  th:placeholder="Email"
              /> <br/>
        <input type="password"  th:placeholder="Password"
               id="password" name="password" /> <br />

        <div align="center" th:if="${param.error}">
            <p>Email or Password invalid, please verify</p>
        </div>
        <button name="Submit" value="Login" type="Submit" th:text="Login"></button>
    </form>
    <form th:action="@{/registration}" method="get">
        <button type="Submit">Go To Registration Page</button>
    </form>
<div th:replace="template :: footer" ></div>
</body>
</html>