<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employees</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<h1>Tasks</h1>
<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
    </tr>
    <tr th:each = "Task : ${tasks}">
        <td th:text="${Task.id}"></td>
        <td th:text="${Task.name}"></td>
        <td th:text="${Task.description}"></td>
        <td><a th:href="@{/employees/{employeeId}/tasks/{id}(id=${Task.id})}">View</a></td>
        <td><a th:href="@{/employees/{employeeId}/tasks/{id}/delete (id=${Task.id})}">Delete</a></td>
    </tr>
</table>
</body>
</html>