<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Task</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


</head>
<body>
<h1>View task</h1>
<div>
    <form th:object="${task}" th:action="@{/employees/{employeeId}/tasks/(employeeId=${task.employee.id})}" action="#" method="post">
        <input type="hidden" th:field="*{id}"
               placeholder="Id" />
        <input type="text" th:field="*{name}"
               placeholder="Name" />
        <input type="text" th:field="*{description}"
               placeholder="Notes" />
        <input type="submit" value="Save"/>
    </form>
</div>
</body>
</html>