<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


</head>
<body>
<h1>View employee</h1>
<div>
    <form th:object="${employee}" th:action="@{/employees}" action="#" method="post">
        <input type="hidden" th:field="*{id}"
               placeholder="Id" />
        <input type="text" th:field="*{name}"
               placeholder="Name" />
        <input type="text" th:field="*{position}"
               placeholder="Position" />
        <input type="text" th:field="*{startingDate}"
               placeholder="Starting Date" />
        <input type="text" th:field="*{salary}"
               placeholder="Salary" />
        <input type="text" th:field="*{lastSalaryRaise}"
               placeholder="Last Salary Raise" />
        <input type="text" th:field="*{address}"
               placeholder="Address" />
        <input type="text" th:field="*{email}"
               placeholder="E-mail" />
        <input type="text" th:field="*{telephone}"
               placeholder="Telephone" />
        <input type="text" th:field="*{notes}"
               placeholder="Notes" />
        <input type="submit" value="Save"/>
    </form>
    <td><a th:href="@{/employees/{id}/tasks(id=${employee.id})}">View Employee Tasks</a></td>
</div>
</body>
</html>