<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head">
</head>
<body>
<h1>View employee</h1>
<div>
    <table>
        <tr><td th:text="'Name: '+${employee.firstName}+' '+${employee.lastName}"></td></tr>
        <tr><td th:text="'Oib: '+${employee.oib}"></td></tr>
        <tr><td th:text="'Gender: '+${employee.gender}"></td></tr>
        <tr><td th:if="${employee.birthDate != null}" th:text="'Birth date: '+${#dates.format(employee.birthDate,'dd.MM.yyyy.')}"></td></tr>
        <tr><td th:text="'Birth place: '+${employee.birthPlace}"></td></tr>
        <tr><td th:text="'Citizenship: '+${employee.citizenship}"></td></tr>
        <tr><td th:text="'Residence: '+${employee.residencePlace}+' '+${employee.residencePostNumber}+' '+${employee.residencePostOffice}+' '+${employee.residenceStreet}+' '+${employee.residenceStreetNumber}"></td></tr>
        <tr><td th:if="${employee.inhabitancyStartDate != null and employee.inhabitancyEndDate != null}" th:text="'Inhabitancy: '+${employee.inhabitancyPlace}+' '+${employee.inhabitancyPostNumber}+' '+${employee.inhabitancyPostOffice}+' '+${employee.inhabitancyStreet}+' '+${employee.inhabitancyStreetNumber}+' '+${#dates.format(employee.inhabitancyStartDate,'dd.MM.yyyy.')}+' '+${#dates.format(employee.inhabitancyEndDate,'dd.MM.yyyy.')}"></td></tr>
        <tr><td th:if="${employee.permitToStayAndWork == true}" th:text="'Permit to stay and work: Yes'"></td></tr>
        <tr><td th:if="${employee.permitToStayAndWork == false}" th:text="'Permit to stay and work: No'"></td></tr>
        <tr><td th:text="'Qualification: '+${employee.qualification}"></td></tr>
        <tr><td th:text="'Title: '+${employee.title}"></td></tr>
        <tr><td th:if="${employee.startingDate != null}" th:text="'Starting date: '+${#dates.format(employee.startingDate,'dd.MM.yyyy.')}"></td></tr>
        <tr><td th:text="'Job name: '+${employee.jobName}"></td></tr>
        <tr><td th:text="'Contract of employment: '+${employee.contractOfEmployment}"></td></tr>
        <tr><td th:if="${employee.probationTime != null}" th:text="'Probation time until: '+${#dates.format(employee.probationTime,'dd.MM.yyyy.')}"></td></tr>
        <tr><td th:if="${employee.internshipDuration != null and employee.internshipDatePassedExam != null}" th:text="'Internship duration: '+${#dates.format(employee.internshipDuration,'dd.MM.yyyy.')} + ' Internship date of passing exam '+${#dates.format(employee.internshipDatePassedExam,'dd.MM.yyyy.')}"></td></tr>
        <tr><td th:if="${employee.workAbroadTime != null}" th:text="'Work abroad time: '+${#dates.format(employee.workAbroadTime,'dd.MM.yyyy.')}+ ' ' +${employee.workAbroadPlace}"></td></tr>
        <tr><td th:if="${employee.temporaryAssignmentTime != null}" th:text="'Temporary assignment time: '+${#dates.format(employee.temporaryAssignmentTime,'dd.MM.yyyy.')}+ ' ' +${employee.temporaryAssignmentPlace}+${employee.temporaryAssignmentCountry}"></td></tr>
        <tr><td th:if="${employee.jobsExtendedInsurancePolicyTime == true}" th:text="'Jobs of extended insurance policy time: Yes'"></td></tr>
        <tr><td th:if="${employee.jobsExtendedInsurancePolicyTime == false}" th:text="'Jobs of extended insurance policy time: No'"></td></tr>
        <tr><td th:if="${employee.jobsHealthAssessment == true}" th:text="'Jobs permitted after health assessment: Yes'"></td></tr>
        <tr><td th:if="${employee.jobsHealthAssessment == false}" th:text="'Jobs permitted after health assessment: No'"></td></tr>
        <tr><td th:text="'Main workplace: '+${employee.mainWorkPlace}"></td></tr>
        <tr><td th:if="${employee.workingInDifferentPlaces == true}" th:text="'Working In Different Places: Yes'"></td></tr>
        <tr><td th:if="${employee.workingInDifferentPlaces == false}" th:text="'Working In Different Places: No'"></td></tr>
        <tr><td th:text="'Weekly working time: '+${employee.weeklyWorkingTime}"></td></tr>
        <tr><td th:text="'Retirement time: '+${employee.retirementTime}"></td></tr>
        <tr><td th:if="${employee.idleTimeFrom != null and employee.idleTimeTo != null}" th:text="'Idle time from: '+${#dates.format(employee.idleTimeFrom,'dd.MM.yyyy.')} + ' To '+${#dates.format(employee.idleTimeTo,'dd.MM.yyyy.')}"></td></tr>
        <tr><td th:if="${employee.idleTimeMaternityFrom != null and employee.idleTimeMaternityTo != null}" th:text="'Idle maternity time from: '+${#dates.format(employee.idleTimeMaternityFrom,'dd.MM.yyyy.')} + ' To '+${#dates.format(employee.idleTimeMaternityTo,'dd.MM.yyyy.')}"></td></tr>
        <tr><td th:if="${employee.idleTimeParentalFrom != null and employee.idleTimeParentalTo != null}" th:text="'Idle parental time from: '+${#dates.format(employee.idleTimeParentalFrom,'dd.MM.yyyy.')} + ' To '+${#dates.format(employee.idleTimeParentalTo,'dd.MM.yyyy.')}"></td></tr>
        <tr><td th:if="${employee.endingDate != null}" th:text="'Ending date: '+${#dates.format(employee.endingDate,'dd.MM.yyyy.')}"></td></tr>
        <tr><td th:text="'Ending reason: '+${employee.endingReason}"></td></tr>

        <tr><td th:if="${employee.pregnancy == true}" th:text="'Pregnancy: Yes'"></td></tr>
        <tr><td th:if="${employee.pregnancy == false}" th:text="'Pregnancy: No'"></td></tr>
        <tr><td th:if="${employee.maternityORPaternity == true}" th:text="'Maternity / Paternity: Yes'"></td></tr>
        <tr><td th:if="${employee.maternityORPaternity == false}" th:text="'Maternity / Paternity'"></td></tr>
        <tr><td th:if="${employee.breastFeeding == true}" th:text="'Breast feeding: Yes'"></td></tr>
        <tr><td th:if="${employee.breastFeeding == false}" th:text="'Breast feeding: No'"></td></tr>
        <tr><td th:if="${employee.singleParent == true}" th:text="'Single parent: Yes'"></td></tr>
        <tr><td th:if="${employee.singleParent == false}" th:text="'Single parent: No'"></td></tr>
        <tr><td th:if="${employee.adoptiveParent == true}" th:text="'Adoptive parent: Yes'"></td></tr>
        <tr><td th:if="${employee.adoptiveParent == false}" th:text="'Adoptive parent: No'"></td></tr>
        <tr><td th:if="${employee.professionalIllness == true}" th:text="'Professional illness: Yes'"></td></tr>
        <tr><td th:if="${employee.professionalIllness == false}" th:text="'Professional illness: No'"></td></tr>
        <tr><td th:if="${employee.injuryAtWork == true}" th:text="'Injury at work: Yes'"></td></tr>
        <tr><td th:if="${employee.injuryAtWork == false}" th:text="'Injury at work: No'"></td></tr>
        <tr><td th:if="${employee.professionalIncapacityToWork == true}" th:text="'Professional incapacity to work: Yes'"></td></tr>
        <tr><td th:if="${employee.professionalIncapacityToWork == false}" th:text="'Professional incapacity to work: No'"></td></tr>
        <tr><td th:if="${employee.reducedRemainingWorkAbility == true}" th:text="'Reduced remaining work ability: Yes'"></td></tr>
        <tr><td th:if="${employee.reducedRemainingWorkAbility == false}" th:text="'Reduced remaining work ability: No'"></td></tr>
        <tr><td th:if="${employee.reducedPartlyLostWorkAbility == true}" th:text="'Reduced Partly Lost Work Ability: Yes'"></td></tr>
        <tr><td th:if="${employee.reducedPartlyLostWorkAbility == false}" th:text="'Reduced Partly Lost Work Ability: No'"></td></tr>
        <tr><td th:if="${employee.dangerOfReductionWorkAbility == true}" th:text="'Danger of reduction of working ability: Yes'"></td></tr>
        <tr><td th:if="${employee.dangerOfReductionWorkAbility == false}" th:text="'Danger of reduction of working ability: No'"></td></tr>
        <tr><td th:if="${employee.dangerOfDisability == true}" th:text="'Danger of disability: Yes'"></td></tr>
        <tr><td th:if="${employee.dangerOfDisability == false}" th:text="'Danger of disability: No'"></td></tr>
        <tr><td th:if="${employee.disability == true}" th:text="'Disability: Yes'"></td></tr>
        <tr><td th:if="${employee.disability == false}" th:text="'Disability: No'"></td></tr>
        <tr><td th:if="${employee.disabilityPension == true}" th:text="'Disability pension: Yes'"></td></tr>
        <tr><td th:if="${employee.disabilityPension == false}" th:text="'Disability pension: No'"></td></tr>
        <tr><td th:if="${employee.caretakerDuties == true}" th:text="'Caretaker duties: Yes'"></td></tr>
        <tr><td th:if="${employee.caretakerDuties == false}" th:text="'Caretaker duties: No'"></td></tr>
        <tr><td th:text="'Other employers information: '+${employee.otherEmployersInformation}"></td></tr>
        <tr><td th:if="${employee.contractBan == true}" th:text="'Contract ban: Yes, until:' +${#dates.format(employee.contractBanTime,'dd.MM.yyyy.')}"></td></tr>
        <tr><td th:if="${employee.contractBan == false}" th:text="'Contract ban: No'"></td></tr>

    </table>
    <a th:href="@{/employees/{id}/edit (id=${employee.id})}">Edit</a>
    <a th:href="@{/employees/{id}/report/pdf(id=${employee.id})}">Generate PDF</a>

</div>
<div th:replace="template :: footer" ></div>

</body>
</html>


